.container {
  width: 50%;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
  border-radius: 40px;
  border: 2px solid rgb(88, 47, 238);
  box-shadow: 1px 1px 20px rgb(88, 47, 238);
}

.chartContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.chart {
  width: 70px;
  background-color: rgb(215, 206, 255);
  border: 1px solid rgb(88, 47, 238);
  color: rgb(88, 47, 238);
  border-radius: 8px 8px 0px 0px;
  box-shadow: 2px 1px 1px rgb(88, 47, 238);
}
.chart:hover {
  background-color: white;
}
.labelXContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 5px;
}

.chartLabelX {
  width: 70px;
  font-weight: bold;
  word-wrap: break-word;
  color: rgb(88, 47, 238);
}

.Yaxis {
  width: 70px;
  transform: rotate(-90deg);
}
.labelYContainer {
  width: 70px;
  justify-content: flex-end;
}
.chartLabelY {
  width: 70px;
  font-weight: bold;
  word-wrap: break-word;
  color: rgb(88, 47, 238);
  align-items: end;
  justify-content: center;
  display: flex;
}
